# Dependencias (pip install -r requirements.txt). Para compilar el .exe ademas: pip install pyinstaller
PyQt6>=6.6
PyQt6-WebEngine>=6.6
numpy>=1.26
scipy>=1.11
pandas>=2.0
librosa>=0.10
soundfile>=0.12
plotly>=5.18
pyqtgraph>=0.13
numba>=0.59
